// 主题1
$bg-color-theme1: #333;

// 主题2
$bg-color-theme2: orange;


// 控件颜色
$control-color-theme1: #0082CC;

$control-color-theme2: #CA413B;

$control-color-theme3: #F9A227;


// 字体颜色

$font-color-theme1: #0082CC;

$font-color-theme2: #CA413B;

$font-color-theme3: #F9A227;